<ion-view title="Scan">
    <ion-content class="padding-top">
        <button class="button button-block button-dark" ng-click="scanBarcode()">
            Scan Barcode
        </button>
        <div class="card" ng-repeat="barcode in barcodes">
            <div class="item item-divider">
                {{barcode.format}}
            </div>
            <div class="item">
                {{barcode.text}}
            </div>
        </div>
        <a class="button button-block button-dark" ui-sref="add-department">
            Add Department
        </a>
        <a class="button button-block button-dark" ui-sref="department-list">
            Department List
        </a>
    </ion-content>
</ion-view>
